header.header
    button.header__button Замовити дзвінок
    a.header__link Локація
    a.header__link Квартири
    a.header__tel(href="")
        +svg('tel-tube')
        span 0931231111
    ul.header__languages
        li 
            a(href="#").active ру
        li 
            a(href="#") укр
        li 
            a(href="#") en
    a(href="").header__logo
        <svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.68011 50.4234C0.725921 50.4234 0.762921 50.4111 0.792874 50.3866C0.822827 50.3621 0.845733 50.3305 0.859828 50.2937C0.875686 50.2569 0.882734 50.2166 0.882734 50.1728C0.882734 50.129 0.875686 50.0887 0.859828 50.0519C0.843971 50.0151 0.822827 49.9836 0.792874 49.9608C0.762921 49.9362 0.725921 49.924 0.68011 49.924L0.2361 49.9257V50.9719H0V49.8784H0.821065C0.886257 49.8784 0.94264 49.8924 0.986688 49.9222C1.03074 49.952 1.06421 49.9888 1.08712 50.0326C1.11002 50.0764 1.1206 50.1238 1.1206 50.1763C1.1206 50.2271 1.11002 50.2745 1.08712 50.32C1.06421 50.3638 1.0325 50.4006 0.986688 50.4304C0.940878 50.4602 0.886257 50.4742 0.821065 50.4742H0.789351L1.1435 50.9737H0.872162L0.488058 50.4269H0.68011V50.4234Z" fill="white"/>
            <path d="M6.2179 50.9687V49.8752H7.11825V49.9225H6.454V50.4219H6.85043L6.81696 50.4692H6.454V50.9231H7.21339V50.9704H6.2179V50.9687Z" fill="white"/>
            <path d="M12.7582 49.8909C12.7212 49.8909 12.6825 49.8926 12.6437 49.8979C12.6049 49.9014 12.5697 49.9119 12.5397 49.9259C12.5098 49.94 12.4834 49.961 12.464 49.9873C12.4446 50.0136 12.434 50.0486 12.4323 50.0942C12.4305 50.138 12.4446 50.173 12.4728 50.2011C12.501 50.2291 12.538 50.2519 12.582 50.2694C12.6261 50.2869 12.6789 50.301 12.7388 50.3115C12.797 50.322 12.8569 50.3325 12.9186 50.343C12.9785 50.3535 13.0401 50.3675 13.0983 50.3816C13.1582 50.3956 13.2093 50.4149 13.2551 50.4394C13.3009 50.4639 13.3379 50.4955 13.3661 50.5323C13.3943 50.5691 13.4084 50.6181 13.4084 50.676C13.4084 50.7408 13.389 50.7934 13.352 50.8354C13.315 50.8775 13.2657 50.9108 13.2058 50.9353C13.1459 50.9599 13.0771 50.9774 13.0014 50.9861C12.9256 50.9966 12.8481 51.0002 12.7688 51.0002C12.7142 51.0002 12.656 50.9949 12.5926 50.9861C12.5292 50.9774 12.4675 50.9616 12.4058 50.9406C12.3442 50.9195 12.2878 50.8933 12.2332 50.8582C12.1803 50.8249 12.1363 50.7829 12.1028 50.7338H12.3142C12.3318 50.7688 12.3565 50.7986 12.3865 50.8267C12.4182 50.853 12.4534 50.8775 12.4922 50.895C12.5309 50.9125 12.575 50.9283 12.6226 50.9388C12.6701 50.9493 12.7195 50.9528 12.7706 50.9528C12.841 50.9511 12.9009 50.9423 12.9503 50.9301C12.9978 50.916 13.0366 50.8968 13.0666 50.8722C13.0948 50.8459 13.1159 50.8144 13.1282 50.7776C13.1406 50.739 13.1476 50.6952 13.1476 50.6444C13.1476 50.5954 13.1335 50.555 13.1053 50.5218C13.0771 50.4902 13.0401 50.4639 12.9961 50.4429C12.9503 50.4219 12.8992 50.4061 12.8393 50.3938C12.7794 50.3816 12.7212 50.3711 12.6596 50.3605C12.5997 50.3518 12.5397 50.3413 12.4798 50.3307C12.4217 50.3202 12.3688 50.3062 12.323 50.2904C12.2772 50.2747 12.2402 50.2536 12.212 50.2274C12.1838 50.2011 12.1697 50.1678 12.1697 50.1275C12.1697 50.0889 12.1803 50.0556 12.1997 50.0276C12.2208 49.9995 12.2473 49.975 12.2807 49.954C12.3142 49.933 12.353 49.9154 12.3953 49.9014C12.4376 49.8874 12.4816 49.8769 12.5256 49.8681C12.5697 49.8594 12.612 49.8541 12.6525 49.8506C12.693 49.8471 12.73 49.8453 12.7617 49.8453C12.8164 49.8453 12.8728 49.8506 12.9309 49.8594C12.989 49.8681 13.0472 49.8839 13.1018 49.9049C13.1564 49.9259 13.2093 49.9522 13.2569 49.9873C13.3044 50.0223 13.3467 50.0626 13.3802 50.1117H13.1688C13.1318 50.0416 13.0807 49.9873 13.0137 49.9505C12.945 49.9102 12.8604 49.8909 12.7582 49.8909Z" fill="white"/>
            <path d="M18.4985 49.8752H18.7343V50.9687H18.4985V49.8752Z" fill="white"/>
            <path d="M23.8408 49.8752H24.3905C24.4663 49.8752 24.5403 49.8857 24.6161 49.9067C24.6901 49.9278 24.7588 49.961 24.8187 50.0066C24.8786 50.0522 24.9262 50.1083 24.9632 50.1766C25.0002 50.2449 25.0196 50.3255 25.0196 50.4219C25.0196 50.5183 25.0002 50.6007 24.9632 50.669C24.9262 50.7374 24.8768 50.7952 24.8187 50.839C24.7588 50.8846 24.6918 50.9161 24.6161 50.9389C24.5421 50.9599 24.4663 50.9704 24.3905 50.9704H23.8408V49.8752ZM24.313 50.9231C24.38 50.9231 24.4399 50.9126 24.498 50.8933C24.5562 50.874 24.6055 50.8425 24.6478 50.8004C24.6901 50.7601 24.7236 50.7076 24.7482 50.6445C24.7729 50.5814 24.7852 50.5078 24.7852 50.4219C24.7852 50.3413 24.7729 50.2695 24.7482 50.2064C24.7236 50.1451 24.6901 50.0925 24.6478 50.0504C24.6055 50.0084 24.5562 49.9768 24.498 49.954C24.4416 49.9313 24.38 49.9207 24.313 49.9207H24.0769V50.9214H24.313V50.9231Z" fill="white"/>
            <path d="M30.0447 50.9687V49.8752H30.945V49.9225H30.2808V50.4219H30.6772L30.6437 50.4692H30.2808V50.9231H31.0402V50.9704H30.0447V50.9687Z" fill="white"/>
            <path d="M36.0529 49.8752H36.1004V50.9687H36.0529V49.8752ZM36.9074 50.9687L36.1321 49.8752H36.4017L37.1312 50.9038V49.8752H37.177V50.9687H36.9074Z" fill="white"/>
            <path d="M43.5271 50.739C43.4919 50.7863 43.4514 50.8283 43.402 50.8616C43.3527 50.8949 43.3016 50.9212 43.247 50.9422C43.1924 50.9633 43.136 50.9773 43.0778 50.9861C43.0197 50.9948 42.9651 51.0001 42.9104 51.0001C42.8594 51.0001 42.8083 50.9966 42.7536 50.9896C42.699 50.9826 42.6462 50.9703 42.5933 50.9528C42.5404 50.9352 42.4911 50.9125 42.4435 50.8827C42.396 50.8529 42.3554 50.8178 42.3184 50.774C42.2832 50.732 42.2532 50.6811 42.2339 50.6233C42.2127 50.5655 42.2021 50.4989 42.2021 50.4218C42.2021 50.3464 42.2127 50.2781 42.2339 50.2203C42.255 50.1607 42.2832 50.1099 42.3184 50.0678C42.3537 50.0258 42.396 49.989 42.4435 49.9609C42.4911 49.9329 42.5404 49.9083 42.5933 49.8908C42.6462 49.8733 42.699 49.861 42.7536 49.854C42.8083 49.847 42.8611 49.8435 42.9104 49.8435C42.9651 49.8435 43.0215 49.8488 43.0796 49.8575C43.1377 49.8663 43.1959 49.8821 43.2505 49.9031C43.3051 49.9241 43.358 49.9504 43.4056 49.9854C43.4531 50.0205 43.4954 50.0608 43.5289 50.1099H43.3175C43.2805 50.0398 43.2294 49.9854 43.1624 49.9486C43.0955 49.9101 43.0109 49.8908 42.9087 49.8908C42.8276 49.8908 42.7572 49.9031 42.6973 49.9259C42.6373 49.9486 42.5898 49.9837 42.551 50.0293C42.5122 50.0748 42.4841 50.1309 42.4647 50.1957C42.4453 50.2606 42.4365 50.3377 42.4365 50.4218C42.4347 50.5935 42.4735 50.7232 42.5493 50.8143C42.625 50.9055 42.7466 50.951 42.9087 50.9528C43.0109 50.9545 43.0937 50.9352 43.1606 50.8984C43.2276 50.8616 43.2787 50.8073 43.3157 50.739H43.5271Z" fill="white"/>
            <path d="M48.5698 50.9687V49.8752H49.4702V49.9225H48.8059V50.4219H49.2024L49.1689 50.4692H48.8059V50.9231H49.5653V50.9704H48.5698V50.9687Z" fill="white"/>
            <path d="M7.64331 41.5786C10.2668 42.1219 10.103 46.5606 7.10063 46.5606H0V37.2853H6.46985C8.8661 37.2853 9.25725 40.3852 7.64331 41.4454V41.5786ZM5.33516 41.5243C7.34025 41.5243 7.34025 37.6691 5.33516 37.6691L1.89233 37.6831V41.526H5.33516V41.5243ZM1.89233 46.1629L5.96594 46.1769C8.13489 46.1909 8.13489 41.9238 5.96594 41.9238H1.89233V46.1629Z" fill="white"/>
            <path d="M10.7037 46.5598V37.2844H18.3382V37.6822H12.7018V41.923H16.06L15.7799 42.3208H12.7018V46.1638H19.1364V46.5615H10.7037V46.5598Z" fill="white"/>
            <path d="M26.1172 41.9212C28.3813 41.9212 28.3813 37.6542 26.1172 37.6682L22.3925 37.6822V46.5598H20.4174V37.2844H27.3013C30.6313 37.2844 30.6454 42.319 27.3013 42.319H27.0246L29.9865 46.5598H27.7224L24.498 41.9212H26.1172Z" fill="white"/>
            <path d="M31.5441 46.5598V37.2844H39.1786V37.6822H33.5421V41.923H36.9004L36.6202 42.3208H33.5421V46.1638H39.9767V46.5615H31.5441V46.5598Z" fill="white"/>
            <path d="M47.7998 42.2995H45.3877L45.6361 41.9193H49.4947V44.4865C48.5098 46.0426 46.4043 46.5981 44.8661 46.5981C42.6813 46.5981 39.7723 45.6238 39.7723 41.9315C39.7829 38.213 42.6919 37.2404 44.8661 37.2404C46.4272 37.2404 48.3512 37.7977 49.3256 39.3906H47.8086C47.287 38.2656 46.3373 37.6207 44.8661 37.6207C42.5122 37.6207 41.4709 39.1628 41.4585 41.921C41.4479 44.6775 42.5104 46.2091 44.8661 46.2214C46.3144 46.2336 47.2765 45.5888 47.798 44.4883V42.2995H47.7998Z" fill="white"/>
            <path d="M12.2649 29.4686C13.0631 28.6642 13.9934 28.0141 14.9589 27.4165C15.4452 27.1239 15.9491 26.861 16.4566 26.6017C16.712 26.4755 16.9728 26.3616 17.2353 26.2459L18.03 25.9235C20.1654 25.1034 22.4701 24.6548 24.787 24.6372C27.1057 24.6162 29.4227 25.0613 31.5635 25.8867C33.6989 26.7296 35.6635 27.9387 37.3021 29.4738L37.2457 29.5562C36.7753 29.2653 36.3154 28.9569 35.8379 28.6817L35.1138 28.2805C34.9922 28.2139 34.8741 28.1438 34.7508 28.0824L34.3773 27.9019L33.632 27.5392C33.38 27.427 33.1228 27.3254 32.8691 27.2168C32.3651 26.9907 31.8348 26.8277 31.3168 26.6402C29.2148 25.9656 27.0053 25.6133 24.7976 25.6361C22.5899 25.6519 20.3839 26.0059 18.2784 26.6805C17.2248 27.0135 16.1958 27.4253 15.2003 27.9019C14.203 28.3751 13.2304 28.9113 12.3301 29.5457L12.2649 29.4686Z" fill="white"/>
            <path d="M40.7573 25.9902C39.6755 25.3594 38.7117 24.562 37.7744 23.7384C37.318 23.3143 36.8687 22.8815 36.4335 22.4329C36.2115 22.2121 36.0036 21.9808 35.7957 21.746C35.586 21.5146 35.3817 21.2781 35.1808 21.0397C33.5704 19.1297 32.1696 17.0303 31.0526 14.789C29.9179 12.5565 29.0739 10.1785 28.4977 7.75493C27.9374 5.32613 27.6555 2.83599 27.7648 0.363376L27.8652 0.354614C27.9445 0.960939 28.0044 1.56902 28.0995 2.17184C28.2017 2.77466 28.2828 3.37923 28.4149 3.97679L28.5929 4.87576L28.8026 5.76773C28.9312 6.36529 29.1109 6.94883 29.2677 7.53939C29.6201 8.70823 29.9954 9.87181 30.4535 11.0038L30.6191 11.4314L30.7988 11.852C30.9204 12.1324 31.0349 12.4145 31.1618 12.6931C31.419 13.2469 31.6728 13.8024 31.9547 14.3456C33.0436 16.5326 34.3456 18.6145 35.8221 20.5631C36.5622 21.5374 37.348 22.4767 38.1779 23.3757C39.0095 24.2711 39.8764 25.1421 40.8225 25.9166L40.7573 25.9902Z" fill="white"/>
            <path d="M8.80794 25.9726C9.88977 25.3418 10.8536 24.5444 11.7909 23.7208C12.2472 23.2967 12.6965 22.8639 13.1317 22.4153C13.3537 22.1945 13.5617 21.9632 13.7696 21.7283C13.9792 21.497 14.1836 21.2605 14.3845 21.0221C15.9949 19.112 17.3956 17.0127 18.5127 14.7714C19.6474 12.5388 20.4914 10.1609 21.0675 7.73732C21.6278 5.30851 21.9097 2.81838 21.8005 0.345763L21.7018 0.333496C21.6225 0.939821 21.5626 1.5479 21.4675 2.15072C21.3653 2.75354 21.2843 3.35811 21.1521 3.95567L20.9742 4.85465L20.7645 5.74661C20.6359 6.34417 20.4561 6.92772 20.2993 7.51827C19.9469 8.68711 19.5716 9.85069 19.1135 10.9827L18.9479 11.4103L18.7682 11.8309C18.6466 12.1113 18.5321 12.3934 18.4052 12.672C18.148 13.2258 17.8943 13.7813 17.6124 14.3245C16.5235 16.5115 15.2214 18.5933 13.7449 20.542C13.0049 21.5163 12.2191 22.4556 11.3892 23.3546C10.5575 24.25 9.69067 25.121 8.74451 25.8955L8.80794 25.9726Z" fill="white"/>
            </svg>
    button.header__menu-button.js-menu-call(data-text1="меню" data-text2="закрити")
        .header__menu-button-text меню
        <svg class="header__menu-button-img" width="60" height="54" viewBox="0 0 60 54" fill="none" xmlns="http://www.w3.org/2000/svg">
        
        <g class="close-group">
            <path transform="translate(20 20)" d="M0.995605 19L18.9956 1M18.9956 19L0.995605 1" stroke="#E2E5EB" stroke-width="2"/>
        </g>
        <g class="open-group">
            <path d="M7 52.9033C8.44929 51.4428 10.1385 50.2623 11.8918 49.1773C12.7748 48.6459 13.6898 48.1686 14.6112 47.6977C15.0751 47.4686 15.5486 47.2617 16.0253 47.0517L17.4682 46.4662C21.3457 44.9771 25.5304 44.1625 29.7375 44.1307C33.9478 44.0925 38.155 44.9007 42.0421 46.3994C45.9197 47.9299 49.4869 50.1255 52.4623 52.9129L52.3599 53.0624C51.5057 52.5342 50.6707 51.9742 49.8037 51.4747L48.4887 50.746C48.268 50.6251 48.0536 50.4978 47.8297 50.3864L47.1514 50.0587L45.7981 49.4C45.3406 49.1964 44.8735 49.0118 44.4128 48.8145C43.4978 48.4041 42.5348 48.1081 41.5942 47.7677C37.7774 46.5426 33.7655 45.903 29.7567 45.9444C25.748 45.973 21.7425 46.6158 17.9193 47.8409C16.0061 48.4454 14.1377 49.1932 12.3301 50.0587C10.5192 50.9178 8.75323 51.8915 7.11838 53.0434L7 52.9033Z" fill="#E2E5EB"/>
            <path d="M7 52.9032C8.44929 51.4427 10.1385 50.2622 11.8918 49.1772C12.7748 48.6458 13.6898 48.1685 14.6112 47.6975C15.0751 47.4684 15.5486 47.2616 16.0253 47.0516L17.4682 46.4661C21.3457 44.977 25.5304 44.1624 29.7375 44.1306C33.9478 44.0924 38.155 44.9006 42.0421 46.3993C45.9197 47.9298 49.4869 50.1254 52.4623 52.9128L52.3599 53.0623C51.5057 52.5341 50.6707 51.9741 49.8037 51.4745L48.4887 50.7459C48.268 50.6249 48.0536 50.4977 47.8297 50.3863L47.1514 50.0586L45.7981 49.3999C45.3406 49.1962 44.8735 49.0117 44.4128 48.8144C43.4978 48.4039 42.5348 48.108 41.5942 47.7675C37.7774 46.5425 33.7655 45.9029 29.7567 45.9443C25.748 45.9729 21.7425 46.6157 17.9193 47.8407C16.0061 48.4453 14.1377 49.1931 12.3301 50.0586C10.5192 50.9177 8.75323 51.8914 7.11838 53.0432L7 52.9032Z" fill="#E2E5EB"/>
            <path d="M59.0066 46.5872C57.0422 45.4417 55.2922 43.9939 53.5901 42.4984C52.7615 41.7284 51.9457 40.9424 51.1554 40.1278C50.7523 39.7269 50.3748 39.3069 49.9973 38.8805C49.6166 38.4605 49.2455 38.0309 48.8807 37.5982C45.9566 34.1298 43.4131 30.3179 41.3847 26.2481C39.3244 22.1943 37.7919 17.8764 36.7457 13.4757C35.7283 9.06555 35.2164 4.54398 35.4148 0.0542399L35.5972 0.0383301C35.7411 1.13929 35.8499 2.24343 36.0227 3.33802C36.2082 4.43262 36.3554 5.53039 36.5954 6.61544L36.9185 8.24779L37.2992 9.8674C37.5328 10.9525 37.8591 12.012 38.1438 13.0844C38.7837 15.2067 39.4651 17.3196 40.297 19.3751L40.5977 20.1515L40.924 20.9152C41.1448 21.4243 41.3527 21.9366 41.5831 22.4425C42.0502 23.448 42.5109 24.4567 43.0228 25.4431C45 29.4142 47.3643 33.1944 50.0453 36.7327C51.389 38.5019 52.8159 40.2074 54.3228 41.8397C55.8328 43.4657 57.4069 45.0472 59.1249 46.4536L59.0066 46.5872Z" fill="#E2E5EB"/>
            <path d="M0.993349 46.5553C2.95773 45.4097 4.70776 43.962 6.40979 42.4664C7.23842 41.6964 8.05424 40.9105 8.84447 40.0959C9.24759 39.6949 9.62511 39.2749 10.0026 38.8485C10.3833 38.4285 10.7545 37.999 11.1192 37.5662C14.0434 34.0979 16.5868 30.2859 18.6152 26.2162C20.6756 22.1623 22.208 17.8444 23.2542 13.4438C24.2716 9.03358 24.7835 4.51202 24.5851 0.0222737L24.406 0C24.262 1.10096 24.1532 2.2051 23.9804 3.29969C23.7949 4.39429 23.6477 5.49206 23.4078 6.57711L23.0846 8.20946L22.7039 9.82907C22.4704 10.9141 22.144 11.9737 21.8593 13.046C21.2194 15.1684 20.538 17.2812 19.7062 19.3368L19.4054 20.1132L19.0791 20.8768C18.8583 21.386 18.6504 21.8982 18.42 22.4042C17.9529 23.4097 17.4922 24.4184 16.9803 25.4048C15.0032 29.3759 12.6389 33.156 9.95784 36.6944C8.61412 38.4635 7.18723 40.1691 5.68035 41.8014C4.17027 43.4274 2.59621 45.0088 0.878174 46.4152L0.993349 46.5553Z" fill="#E2E5EB"/>
            <rect x="24" y="29" width="12" height="2" fill="#E2E5EB"/>
            <rect x="24" y="34" width="8" height="2" fill="#E2E5EB"/>
        </g>
        </svg>

        //- <svg class="header__menu-button-img" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        //-     <g class="open-group">
        //-         <line x1="11" y1="15" x2="26" y2="15" stroke="white"/>
        //-         <line x1="11" y1="20.5" x2="22" y2="20.5" stroke="white"/>
        //-     </g>
        //-     <g class="close-group">
        //-         <path d="M14.0001 13L24.6067 23.6066" stroke="white"/>
        //-         <path d="M24.6066 13L14 23.6066" stroke="white"/>
        //-     </g>
        //- </svg>
    .top-menu.js-top-menu 
        picture.top-menu__left
            img(src="./assets/images/menu-render.jpg")
        .top-menu__right
            .top-menu__group.double
                .top-menu__subtitle Комплекс
                ul
                    each val in menu[0]
                        li 
                            a(href=val[1]).top-menu__link #{val[0]}
            .top-menu__group
                .top-menu__subtitle Подобрать
                ul
                    each val in menu[1]
                        li 
                            a(href=val[1]).top-menu__link #{val[0]}
            .top-menu__group
                .top-menu__subtitle Контакты
                ul
                    each val in menu[2]
                        li 
                            a(href=val[1]).top-menu__link #{val[0]}
            .delimiter
            .top-menu__group
                a(href="tel:"+complexTel).top-menu__bottom-tel #{complexTel}
                button.top-menu__form-call Заказать звонок
            .top-menu__group
                a(href="https://maps.google.com/?q="+complexAdress).top-menu__bottom-link #{complexAdress}
                a(href=fb target='_blank').top-menu__social
                    +svg('facebook')
                a(href=insta target='_blank').top-menu__social
                    +svg('instagram')


